@media screen and (max-width: 575px) {
  .section4 {
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    width: 100%;
    flex-direction: column;
    gap: 2rem;
  }

  .section4 div:first-child {
    width: 100% !important;
    text-align: center;
  }

  .section4 div:first-child p {
    padding: 1.2rem;
    width: 36ch;
    margin: 0 auto !important;
  }

  .section4 div:last-child img {
    width: 300px !important;
  }

  .section6 > div {
    width: 90vw !important;
    padding: 3rem 1rem !important;
  }

  .section6 h3 {
    font-size: var(--big-mobile) !important;
  }

  .section6 p {
    width: 41ch !important;
  }

  .section6 > div > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent !important;
    margin: 0 auto;
    border-radius: 0 !important;
    padding: 0 !important;
    width: 100% !important;
    flex-direction: column;
    gap: 1rem;
  }

  .section6 input[type="email"] {
    width: 100%;
    border: none;
    outline: none;
    padding: 1.5rem;
    border-radius: 50px;
  }

  .section6 button {
    padding: 1.5rem !important;
    width: 100%;
    font-weight: 600;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
  }
}
